<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="khalil kouiss" />
	<title>Soins de santé</title>


	<!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<!-- Custom Theme files -->
	<link href="/css/style.css" rel='stylesheet' type='text/css' />

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/js/jquery.min.js"></script>

	<!-- Owl Carousel Assets -->
    <link href="/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/owl-carousel/owl.theme.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

  <!-- header -->
    <% include ../partials/header-partials %>
 	<!-- Header -->

  <!-- Navigation -->
    <% include ../partials/menu-partials %>
   <!-- Navigation -->

	<a id='backTop'>Back To Top</a>
	<!-- /Back To Top -->

	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="service-page">
		<div class="container">
			<div id="main-content">
				<div class="row">
					<div class="col-md-4">
						<article class="box-shadow text-center">
							<div class="art-header">
								<div class="zoom-container">
									<img class="example-image" src="/images/10.jpg" alt=""/>
								</div>
							</div>
							<div class="art-content">
								<h3>Image Format</h3>
								<p>This format perfectly fits in case you need only a single image for your post display. Use Featured image option to add image to the...</p>
							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="box-shadow text-center">
							<div class="art-header">
								<div class="zoom-container">
									<img class="example-image" src="/images/11.jpg" alt=""/>
								</div>
							</div>
							<div class="art-content">
								<h3>Image Format</h3>
								<p>This format perfectly fits in case you need only a single image for your post display. Use Featured image option to add image to the...</p>
							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="box-shadow text-center">
							<div class="art-header">
								<div class="zoom-container">
									<img class="example-image" src="/images/12.jpg" alt=""/>
								</div>
							</div>
							<div class="art-content">
								<h3>Image Format</h3>
								<p>This format perfectly fits in case you need only a single image for your post display. Use Featured image option to add image to the...</p>
							</div>
						</article>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<article class="box-shadow text-center">
							<div class="art-header">
								<div class="zoom-container">
									<img class="example-image" src="/images/13.jpg" alt=""/>
								</div>
							</div>
							<div class="art-content">
								<h3>Image Format</h3>
								<p>This format perfectly fits in case you need only a single image for your post display. Use Featured image option to add image to the...</p>
							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="box-shadow text-center">
							<div class="art-header">
								<div class="zoom-container">
									<img class="example-image" src="/images/14.jpg" alt=""/>
								</div>
							</div>
							<div class="art-content">
								<h3>Image Format</h3>
								<p>This format perfectly fits in case you need only a single image for your post display. Use Featured image option to add image to the...</p>
							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="box-shadow text-center">
							<div class="art-header">
								<div class="zoom-container">
									<img class="example-image" src="/images/15.jpg" alt=""/>
								</div>
							</div>
							<div class="art-content">
								<h3>Image Format</h3>
								<p>This format perfectly fits in case you need only a single image for your post display. Use Featured image option to add image to the...</p>
							</div>
						</article>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<article class="box-shadow text-center">
							<div class="art-header">
								<div class="zoom-container">
									<img class="example-image" src="/images/16.jpg" alt=""/>
								</div>
							</div>
							<div class="art-content">
								<h3>Image Format</h3>
								<p>This format perfectly fits in case you need only a single image for your post display. Use Featured image option to add image to the...</p>
							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="box-shadow text-center">
							<div class="art-header">
								<div class="zoom-container">
									<img class="example-image" src="/images/17.jpg" alt=""/>
								</div>
							</div>
							<div class="art-content">
								<h3>Image Format</h3>
								<p>This format perfectly fits in case you need only a single image for your post display. Use Featured image option to add image to the...</p>
							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="box-shadow text-center">
							<div class="art-header">
								<div class="zoom-container">
									<img class="example-image" src="/images/12.jpg" alt=""/>
								</div>
							</div>
							<div class="art-content">
								<h3>Image Format</h3>
								<p>This format perfectly fits in case you need only a single image for your post display. Use Featured image option to add image to the...</p>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>

	</div>

	<footer>
  <% include ../partials/footer-partials %>
	</footer>
	<div class="coppy-right">
		<div class="wrap-footer">
			<div class="clearfix">
				<div class="col-md-6 col-md-offset-3">
					<p>Copyright @ 2018</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->

	<!-- Core JavaScript Files -->
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.backTop.min.js"></script>
	<script>
		$(document).ready( function() {
			$('#backTop').backTop({
				'position' : 1200,
				'speed' : 500,
				'color' : 'red',
			});
		});
	</script>

</body>
</html>
