<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="#" class="logo"><img src="/images/logo.png" alt="Third slide"></a>
      </div>
      <div class="col-md-6 text-right">
        <span>ESPACE PROFESSIONNELS POUR LES ORGANISATIONS :</span></br>
        <strong class="contact-phone"><i class="fa fa-user"></i> Login </strong>
      </div>
    </div>
  </div>
</header>
