<div class="modal-footer">
<ul class="pagination">
<li class="active" id=mdph-id><a href="#" onclick="activePagination(1);">MDPH</a></li>
<li id=cpam-id><a href="#" onclick="activePagination(2);">CPAM</a></li>
</ul>
</div>
