<div id="modal-body" class="modal-body">
<ul class="special">
  <li><a href="#" class="icon fa-user-circle" onclick="callWorker();"><span>Je travaille et j’ai un problème de santé</span></a></li>
  <li><a href="#" class="icon fa-male" onclick="callUnemployed();"><span >Je recherche un travail et j’ai un problème de santé</span></a></li>
</ul>
<ul class="special">
  <li><a href="#" class="icon fa-industry" onclick="callEmployer();"><span >Je suis Employeur</span></a></li>
  <li><a href="#" class="icon fa-user" data-dismiss="modal"><span >Visiteur</span></a></li>
</ul>
</div>
