<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >
        Bienvenue !
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" href="/home">Accueil</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/ourEstablishment">Notre Etablisement</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/organizations">Les Organisations</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#">Blogs</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/contact">Contacts</a>
                  </li>
      </ul>
    </div>
  </div>
</nav>
